{% extends "inventory/inicio.html" %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
  <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-8">
      <!-- Default box -->
      <div class="card">
        <div class="card-header bg-navy">
          <h3 class="card-title">{{ accion.accion_uno }}</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>                  
                  <tr>
                    <th style="width: 30px">#</th>
                    <th class="text-center">Nombre de la Categoria</th>
                    <th class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                    {% for categoria in categories %}
                        <tr>
                            <td>
                                {{ categoria.id }}
                            </td>
                            <td class="text-center">
                                {{ categoria.name }}
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>
                                <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          Footer
        </div>
        <!-- /.card-footer-->
      </div>
                 
      <!-- /.card -->
    </div>

    <div class="col-4">
      <div class="card card-primary">
        <div class="card-header bg-navy">
          <h3 class="card-title">{{ accion.accion_dos }}</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form">
          <div class="card-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Nombre de la Categoria</label>
              <input type="text" class="form-control" id="category-name" placeholder="Ingresa el nombre">
            </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-success btn-sm w-100">Crear nueva categoria</button>
          </div>
        </form>
      </div>
    </div>

  </div>
{% endblock  %}

{% block javascript %}
  <script type="application/javascript">
    $(docu)
  </script>
{% endblock %} 